<div class="form-group">
	<div class="col-md-4">
		<%= form.label "Title" %>
		<%= form.text_field :title, :required => 'required', class: "form-control", class: "form-control", class: "form-control" %>
	</div>
</div>

<div class="form-group">
	<div class="col-md-4">
		<%= form.label "Description" %>
		<%= form.text_field :description, :required => 'required', class: "form-control", class: "form-control" %>
	</div>
</div>

 <div class="form-group">
 	<div class="col-md-4">
    <%= form.label "Start Date"%>
    <%= form.text_field :start_date, id: "flatpickr-start-input", class: "form-control" %>
      <script>$('#flatpickr-start-input').flatpickr();</script>
    </div>
  </div> 
  
  <div class="form-group">
  	<div class="col-md-4">
    <%= form.label "End Date"%>
    <%= form.text_field :end_date, id: "flatpickr-end-input", class: "form-control" %>
      <script>$('#flatpickr-end-input').flatpickr();</script>
    </div>
  </div>

<div class="form-group">
	<div class="col-md-4">
		<%= form.label "Maximum Students" %>
		<%= form.number_field :max_student, :required => 'required', class: "form-control" %>
	</div>
</div>

<div class="form-group">
	<div class="col-md-4">
		<%= form.label "Venue" %>
		<%= form.text_field :venue, :rows => "10", style: 'width:100%;', :required => 'required', class: "form-control" %>
	</div>
</div>



