<table>
  <thead>
    <tr>
      <!-- <th>id</th> -->
      <th>Title</th>
      <th>Description</th>
      <th>Duration(Weeks)</th>
      <th>Maximum students</th> 
      <% if current_user.admin? %>
      <th>Confirmed</th>
      <% end %>
      <th></th>     
    </tr>
  </thead>

<% if current_user.student? || current_user.mentor? %>
  <tbody>   
      <% @courses.each do |c| %> 
      <% if c.verified == true %>    
        <tr>
          <td><%= c.title %></td>
          <td><%= c.description %></td>
          <td><%= c.duration %></td>
          <td><%= c.max_student %></td>          
        </tr>
      <% end %>
      <% end %>
  </tbody>

  <% elsif current_user.admin? %>
   <tbody>   
      <% @courses.each do |c| %>     
        <tr>
          <td><%= c.title %></td>
          <td><%= c.description %></td>
          <td><%= c.duration %></td>
          <td><%= c.max_student %></td>
          <td><%= c.verified %></td>
          <td><%= button_to "Verify this", verify_path(c)%><td>          
        </tr>
      <% end %>
  </tbody>
  <% end %>

</table>


<%= link_to 'Back to main page', root_path %>